{% extends 'control-tower/_cp/_layout' %}

{% block dashboard %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('plugins/save-plugin-settings') }}
        {{ hiddenInput('pluginHandle', 'control-tower') }}

        {% include 'control-tower/_cp/_settings_fields' %}

        <hr>

        <button type="submit" class="btn submit">Save Settings</button>
    </form>
{% endblock %}
